<div class="container-fluid" ng-controller="SelectController">
    <div class="row">
        <h1 class="page-header">Projects</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button type="button" class="btn btn-success" ui-sref="newProject">New Project</button>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control" ng-model="search" id="search" name="search" placeholder="Search" />
            </div>
        </div>
        <div class="col-sm-3">
            <select ng-model="orderBy" ng-init="orderBy = orderBy || sortProjects[0].id" ng-options="sortProject.id as sortProject.name for sortProject in sortProjects"></select>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="table-responsive">
            <div ng-hide="projects.length">No projects. <a ui-sref="newProject">Click</a> to create a new project.</div>
            <table class="table table-striped" ng-show="projects.length">
                <thead>
                <tr>
                    <th class="col-xs-1">#</th>
                    <th class="col-xs-2">Name</th>
                    <th class="col-xs-2">Estimated costs</th>
                    <th class="col-xs-2">Start date</th>
                    <th class="col-xs-2">End date</th>
                    <th class="col-xs-3"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="project in projects | filter:search | orderBy:orderBy">
                    <td>{{project.id}}</td>
                    <td><a href="#/project/{{project.id}}/tasks">{{project.name}}</a></td>
                    <td>{{project.cost}}</td>
                    <td>{{project.startDate | date:'dd.MM.yyyy'}}</td>
                    <td>{{project.endDate | date:'dd.MM.yyyy'}}</td>
                    <td>
                        <button type="button" class="btn btn-xs btn-primary" ui-sref="editProject({id:project.id})">Edit</button>
                        <button type="button" class="btn btn-xs btn-danger" ng-click="deleteProject(project)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>