<div class="container-fluid" ng-controller="SelectController">
    <div class="row">
        <h1 class="page-header">Tags</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button type="button" class="btn btn-success" ui-sref="newTag">New Tag</button>
        </div>
        <div class="col-sm-6">
            <div class="input-group" ng-show="tags.length">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control" ng-model="search" id="search" name="search" placeholder="Search" />
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="table-responsive">
            <div ng-hide="tags.length">No tags. <a ui-sref="newTag">Click</a> to create a new tag.</div>
            <table class="table table-striped" ng-show="tags.length">
                <thead>
                <tr>
                    <th class="col-xs-1"><a href="#" ng-click="orderByField='id'; reverseSort=!reverseSort">#</a></th>
                    <th class="col-xs-8"><a href="#" ng-click="orderByField='name'; reverseSort=!reverseSort">Name</a></th>
                    <th class="col-xs-3"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tag in tags | filter:search | orderBy:orderByField:reverseSort">
                    <td>{{tag.id}}</td>
                    <td>{{tag.name}}</td>
                    <td>
                        <button type="button" class="btn btn-xs btn-primary" ui-sref="editTag({id:tag.id})">Edit</button>
                        <button type="button" class="btn btn-xs btn-danger" ng-click="deleteTag(tag)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>