<div class="container-fluid" ng-controller="SelectController">
    <div class="row">
        <h1 class="page-header">{{project.name}}</h1>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-xs-1">#</th>
                        <th class="col-xs-3">Name</th>
                        <th class="col-xs-2">Owner</th>
                        <th class="col-xs-2 text-right">Estimated costs</th>
                        <th class="col-xs-1">Start date</th>
                        <th class="col-xs-1">End date</th>
                        <th class="col-xs-2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{project.id}}</td>
                        <td>{{project.name}}</a></td>
                        <td>{{project.projectOwner.name}}</td>
                        <td class="text-right">{{project.costs | currency:'CHF ':0}}</td>
                        <td>{{project.startDate | date:'dd.MM.yyyy'}}</td>
                        <td>{{project.endDate | date:'dd.MM.yyyy'}}</td>
                        <td>
                            <button type="button" class="btn btn-xs btn-primary" ui-sref="editProject({id:project.id})">Edit</button>
                            <button type="button" class="btn btn-xs btn-danger" ng-click="deleteProject(project)" ng-disabled="project.tasks.length">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h3>Tasks</h3>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <button type="button" class="btn btn-primary" ui-sref="newTask({id: project.id})">New Task</button>
        </div>
        <div class="col-xs-6" ng-show="project.tasks.length">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control" ng-model="search" id="search" name="search" placeholder="Search">
            </div>
        </div>
        <div class="col-xs-2" ng-show="project.tasks.length">
            <select ng-model="status" ng-init="status = status || filterOptions[0].id" ng-options="filterOption.id as filterOption.name for filterOption in filterOptions" class="form-control"></select>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="table-responsive">
            <div ng-hide="project.tasks.length">No tasks. <a ui-sref="newTask({id: project.id})">Click</a> to create a new task.</div>
            <table class="table table-striped" ng-show="project.tasks.length">
                <thead>
                <tr>
                    <th></th>
                    <th class="col-xs-1"><a href="#" ng-click="orderByField='id'; reverseSort=!reverseSort">#</a></th>
                    <th class="col-xs-3"><a href="#" ng-click="orderByField='name'; reverseSort=!reverseSort">Name</a></th>
                    <th class="col-xs-2"><a href="#" ng-click="orderByField='taskOwner'"; reverseSort=!reverseSort">Owner</a></th>
                    <!--<th class="col-xs-3"><a href="#" ng-click="orderByField='description'; reverseSort=!reverseSort">Description</a></th>-->
                    <th class="col-xs-2">Tags</th>
                    <th class="col-xs-1"><a href="#" ng-click="orderByField='startDate'; reverseSort=!reverseSort">Start date</a></th>
                    <th class="col-xs-1"><a href="#" ng-click="orderByField='endDate'; reverseSort=!reverseSort">End date</a></th>
                    <th class="col-xs-2"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="task in project.tasks | orderBy:orderByField:reverseSort | filter:search | filter:status">
                    <td><input type="checkbox" ng-controller="StatusController" class="checkthis" ng-checked="task.status=='DONE'" ng-click="task.status=='DONE'?setStatus(task.id,'OPEN'):setStatus(task.id,'DONE')" /></td>
                    <td>{{task.id}}</td>
                    <td>{{task.name}}</td>
                    <td>{{task.taskOwner.name}}</td>
                    <!--<td>{{task.description}}</td>-->
                    <td>
                        <span ng-repeat="tag in task.tags | orderBy:'name'">{{tag.name}}<span ng-if="!$last">, </span></span>
                    </td>
                    <td>{{task.startDate | date:'dd.MM.yyyy'}}</td>
                    <td>{{task.endDate | date:'dd.MM.yyyy'}}</td>
                    <td>
                        <button type="button" class="btn btn-xs btn-primary" ui-sref="editTask({id:project.id, tid:task.id})">Edit</button>
                        <button type="button" class="btn btn-xs btn-danger" ng-click="deleteTask(task.id)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
