<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="task.name" required class="form-control" id="name" placeholder="Task name"/>
    </div>
</div>
<div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        <input type="text" ng-model="task.description" class="form-control" id="description" placeholder="What is it about?"/>
    </div>
</div>
<div class="form-group">
    <label for="startDate" class="col-sm-2 control-label">Start Date</label>
    <div class="col-sm-10">
        <input type="text" ng-model="task.startDate" required class="form-control" id="startDate" placeholder="When does the task start?"/>
    </div>
</div>
<div class="form-group">
    <label for="endDate" class="col-sm-2 control-label">End Date</label>
    <div class="col-sm-10">
        <input type="text" ng-model="task.endDate" required class="form-control" id="endDate" placeholder="When does the task end?"/>
    </div>
</div>
<div class="form-group" ng-show="task.id">
    <label for="status" class="col-sm-2 control-label">Status</label>
    <div class="col-sm-10">
        <input type="checkbox" ng-model="task.status" class="form-control" id="status"/>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" ng-disabled="taskForm.$invalid" value="Save"/>&nbsp;
        <button type="button" class="btn" ui-sref="task({id: project.id})">Cancel</button>
    </div>
</div>